create_user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://rawgit.com/AndreyShprengel/apispec/master/emailaddress.xsd"/>
  <xs:include schemaLocation="username.xsd"/>
  <xs:element name="create_user">
      <xs:complexType>
          <xs:sequence>
              <xs:element name="username" type="username" minOccurs="1" maxOccurs="1"/>              
              <xs:element name="email" type="emailAddress" minOccurs="1" maxOccurs="1"/>
          </xs:sequence>
      </xs:complexType>
  </xs:element>
</xs:schema>
